.job-details-page {
  padding: 75px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, rgb(3, 17, 91), #051fa3);
  color: white;
}

/* Header */
.job-details-page .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-details-page .header .apply-btn-web {
  display: block;
}
.job-details-page .apply-btn-mobile {
  display: none;
}

.job-details-page .header .title-with-icon {
  display: flex;
  align-items: center;
}

.job-details-page .header .title-with-icon .back-icon {
  width: 12px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.job-details-page .header .title {
  font-size: 24px;
  font-weight: 600;
  color: #12bd9a;
  margin-left: 20px;
}

.job-details-page .header .apply-btn {
  background: linear-gradient(90deg, #0931f7, #4dffdf);
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.job-details-page .location-info {
  margin-top: 5px;
  margin-left: 32px;
  font-size: 14px;
  color: #fff;
}

/* Meta Info */
.job-details-page .meta-box {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #17c69f;
  border-radius: 30px;
  padding: 15px;
  margin: 20px 0;
}

.job-details-page .meta-box .meta-item {
  flex: 1 1 23%;
  padding: 10px;
  border-right: 1px solid #063a6f;
  margin-bottom: 10px;
}

.job-details-page .meta-box .meta-item:last-child {
  border-right: none;
}

.job-details-page .meta-box .meta-item .meta-label {
  font-size: 15px;
  color: #17c69f;
}

.job-details-page .meta-box .meta-item .meta-value {
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
  color: #fff;
}

/* Content Container */
.job-details-page .content-container {
  display: flex;
  gap: 40px;
}

/* Company Info */
.job-details-page .content-container .company-info {
  background-color: #282d98;
  padding: 40px;
  border-radius: 30px;
  color: white;
  flex: 0 30%;
  height: 600px;
}

.job-details-page .content-container .company-info .company-logo {
  height: 70px;
  border: 1px dashed #4dffdf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.job-details-page .content-container .company-info .company-name,
.job-details-page .content-container .company-info .company-about {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
}

.job-details-page .content-container .company-info .company-website {
  margin-top: 5px;
}

.job-details-page
  .content-container
  .company-info
  .company-website
  .website-label,
.job-details-page .content-container .company-info .company-employee {
  font-size: 15px;
  color: #fff;
  margin-right: 5px;
}

.job-details-page
  .content-container
  .company-info
  .company-website
  .company-link {
  color: #4dffdf;
  font-size: 15px;
  text-decoration: none;
}

.job-details-page
  .content-container
  .company-info
  .company-website
  .company-link:hover {
  text-decoration: underline;
}

.job-details-page .content-container .company-info .company-desc {
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
  text-align: justify;
}

.job-details-page .content-container .company-info .company-header {
  display: flex;
  align-items: baseline;
}

.job-details-page
  .content-container
  .company-info
  .company-header
  .external-link-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.job-details-page
  .content-container
  .company-info
  .company-header
  .external-link-icon:hover {
  width: 17px;
  height: 17px;
  filter: brightness(2) saturate(1.5) hue-rotate(30deg);
}

/* Details Panel */
.job-details-page .content-container .details-panel {
  flex: 1;
  background-color: #e6eff4;
  color: #000;
  padding: 20px;
  border-radius: 30px;
}

.job-details-page .content-container .details-panel .left-right-content {
  display: flex;
  gap: 20px;
  background-color: #e6eff4;
  padding: 30px;
}

.job-details-page
  .content-container
  .details-panel
  .left-right-content
  .left-side {
  flex: 0 0 30%;
}

.job-details-page
  .content-container
  .details-panel
  .left-right-content
  .right-side {
  flex: 1;
}

.left-side .section,
.right-side .section {
  margin-bottom: 20px;
}

.job-details-page
  .content-container
  .details-panel
  .left-right-content
  .left-side
  .section
  .sub-title {
  color: #0cbd99;
  margin-top: 8px;
  margin-bottom: 4px;
}

.job-details-page
  .content-container
  .details-panel
  .left-right-content
  .left-side
  .section
  ul {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0;
}

.left-side .section ul li::before {
  content: "- ";
  margin-right: 4px;
}

.job-details-page
  .content-container
  .details-panel
  .left-right-content
  .left-side
  .section
  .job-desc-text {
  font-size: 14px;
  color: #333333;
}

.job-details-page
  .content-container
  .details-panel
  .left-right-content
  .left-side
  .separator {
  height: 1px;
  background-color: #000;
  width: 85%;
  margin: 40px 0;
}

/* Description Sections */
.job-desc-responsibilities ul,
.job-desc-requirements ul,
.job-desc-benefits ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  color: #333;
}

.job-desc-responsibilities p,
.job-desc-requirements p,
.job-desc-benefits p {
  margin: 0;
  color: #333;
}

.right-side .section .job-desc-text {
  color: #333;
}

.job-details-page .location-info .dot {
  margin: 0 8px;
  color: #a6a6a6;
}

/* Section Titles */
.section .section-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
  color: #000;
}

@media (max-width: 768px) {
  .job-details-page {
    padding: 20px;
  }

  .job-details-page .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .job-details-page .header .title {
    font-size: 20px;
    margin-left: 12px;
  }

  .job-details-page .header .apply-btn {
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 16px;
  }

  .job-details-page .location-info {
    margin-left: 0;
    font-size: 13px;
  }

  .job-details-page .meta-box {
    flex-direction: column;
    padding: 10px;
  }

  .job-details-page .meta-box .meta-item {
    flex: 1 1 100%;
    border-right: none;
    border-bottom: 1px solid #063a6f;
  }

  .job-details-page .meta-box .meta-item:last-child {
    border-bottom: none;
  }

  .job-details-page .content-container {
    flex-direction: column;
    gap: 20px;
  }

  .job-details-page .content-container .company-info {
    height: auto;
    padding: 20px;
  }

  .job-details-page .content-container .details-panel {
    padding: 15px;
  }

  .job-details-page .content-container .details-panel .left-right-content {
    flex-direction: column;
    padding: 20px 10px;
  }

  .job-details-page
    .content-container
    .details-panel
    .left-right-content
    .left-side,
  .job-details-page
    .content-container
    .details-panel
    .left-right-content
    .right-side {
    flex: 1 1 100%;
  }

  .job-details-page
    .content-container
    .details-panel
    .left-right-content
    .left-side
    .separator {
    width: 100%;
  }

  .job-details-page .content-container .company-info .company-desc {
    font-size: 14px;
  }
  .job-details-page .header .apply-btn-web {
    display: none;
  }
  .job-details-page .apply-btn-mobile {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
