.container-2 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-2 {
  font-family: "Segoe UI", sans-serif;
  color: white;
  /* padding: 2rem; */
}
.container-2 .the-ultimate-hiring {
  font-family: "Segoe UI", sans-serif;
  background-image: url("../../assets/hero-image-desktop.jpg");
  background-size: 100%; /* adjust this as needed to reduce width */
  background-repeat: no-repeat;
  background-position: left center; /* aligns image to the left */
  color: white;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: relative;
}
.container-2 .hero-image-top-filled {
  background-color: #00115f;
  height: 2rem;
}

.container-2 .hero-mobile-img {
  display: none;
}

/* Left Section */
.container-2 .the-ultimate-hiring .left {
  flex: 0.1;
  padding-left: 10px;
  text-align: left;
}

.container-2 .the-ultimate-hiring .left h1 {
  font-size: 48px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.container-2 .the-ultimate-hiring .left .highlight {
  color: rgb(87, 185, 156);
  font-weight: 700;
  font-size: 4rem;
}

.container-2 .the-ultimate-hiring .dots {
  display: flex;
  gap: 8px;
  margin: 10px 0 20px;
}

.container-2 .the-ultimate-hiring .dots span {
  width: 10px;
  height: 10px;
  background-color: #00ffb3;
  border-radius: 50%;
}

.container-2 .the-ultimate-hiring .dots span:nth-child(2) {
  background-color: #ccc;
}

.container-2 .the-ultimate-hiring .dots span:nth-child(3) {
  background-color: #ccc;
}

/* Right Section */
.container-2 .the-ultimate-hiring .right {
  flex: 1;
  padding: 40px 40px 0px 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
  max-width: 420px;
}

.container-2 .the-ultimate-hiring .right h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.container-2 .divider-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-2 .the-ultimate-hiring .right input[type="text"] {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
}

.container-2 .the-ultimate-hiring .search-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
}

.container-2 .the-ultimate-hiring .search-type input[type="radio"] {
  margin-right: 8px;
}

.container-2 .the-ultimate-hiring .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  margin-bottom: 20px;
  font-size: 10px;
  /* color: #00ffb3; */
  color: #fff;
  text-align: left;
  /* padding: 0 3rem; */
}
.container-2 .the-ultimate-hiring .options span::before {
  content: "✔"; /* Use basic Unicode character instead of emoji */
  color: #00ff7f;
  margin-right: 8px;
}

.container-2 .the-ultimate-hiring .search-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2 .the-ultimate-hiring .search-btn {
  width: 150px;
  background: linear-gradient(90deg, #003cff, #00ffc8);
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* adds spacing between text and image */
}
.container-2 .the-ultimate-hiring .search-btn img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.container-2 .the-ultimate-hiring .search-btn:hover {
  opacity: 0.9;
}

.container-2 .the-ultimate-hiring .recruiter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ccc;
}

.container-2 .the-ultimate-hiring .check-out {
  display: inline-block;
  margin-top: 8px;
  background: linear-gradient(to right, #4b00ff, #ff5f6d);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.container-2 .the-ultimate-hiring .check-out:hover {
  background: linear-gradient(to right, #3700ff, #ff4d4d);
}

/* Hero Section */
.container-2 .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 70vh;
  padding: 0 4rem;
}
.container-2 .hero-text {
  position: absolute;
  right: 160px;
  /* margin-top: -70px; */
  text-align: left;
}

.container-2 .hero-left {
  flex: 1;
}

.container-2 .subtext {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: left;
}

.container-2 .hero-left h3 {
  font-size: 3rem;
  line-height: 1.2;
  text-align: left;
}
.container-2 .hero-left .description {
  margin-top: 1rem;
  /* margin-left: 1rem; */
  font-size: 18px;
  color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
  max-width: 30rem;
  text-align: left;
}

.container-2 .highlight {
  color: #00f0c8;
  font-size: 3rem;
  text-align: left;
}

.container-2 .description {
  margin-top: 1rem;
  color: #bdbdbd;
}

.container-2 .hero-right {
  flex: 2;
  display: flex;
  justify-content: flex-start;
}

.container-2 .hero-right img {
  max-width: 80%;
  height: auto;
  margin-top: 80px;
}

/* Featured Jobs Section */
.container-2 .featured-jobs {
  margin-top: 4rem;
  text-align: left;
  display: flex;
  gap: 1rem;
  margin-top: 4rem;

  padding: 0 4rem;
}
.container-2 .featured-jobs-2 {
  margin-top: 4rem;
  text-align: left;
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
  padding: 0 4rem;
}
.container-2 .featured-jobs-2 .left {
  width: 80%;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.container-2 .featured-jobs-2 .right {
  width: 20%;
  border-radius: 10px;
}
.container-2 .featured-jobs .left {
  width: 20%;
  border-radius: 10px;
}
.container-2 .featured-jobs .right {
  width: 80%;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.container-2 .featured-jobs-2 h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.container-2 .featured-jobs h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.container-2 .faded {
  color: rgb(63, 67, 123);
  font-size: 2rem;
}

.container-2 .job-cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: start;
}

.container-2 .job-card {
  background-color: rgba(37, 46, 102, 0.9);
  border-radius: 10px;
  border: 2px solid rgba(37, 46, 102, 0.9);
  padding: 1rem;
  width: 250px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
}
.container-2 .job-card:hover {
  cursor: pointer;
  border: 2px solid #00d0b0;
}

.container-2 .job-header {
  display: flex;
  justify-content: flex-start; /* ensures content aligns to the left */
  align-items: center; /* vertically center the image */
  gap: 0.5rem;
  text-align: left;
}

.container-2 .job-header img {
  height: 30px !important;
  object-fit: contain;
  display: block; /* removes inline image spacing */
}

.container-2 .company-name {
  font-size: 0.9rem;
  color: #ccc;
  text-align: left;
}

.container-2 .job-title {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: left;
}

.container-2 .job-info,
.container-2 .location {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: #bdbdbd;
  text-align: left;
}

.container-2 .posted {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: #bdbdbd;
  text-align: right;
}

.container-2 .view-btn:hover {
  background-color: #00d0b0;
}

.container-2 .smart-search {
  background-image: url("../../assets/background-rounded.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  text-align: left;
  margin-top: 5rem;
}
.container-2 .smart-image {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out;
}

.container-2 .smart-image img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  opacity: 0; /* Start hidden */
  animation: fadeIn 0.6s ease-out forwards;
  transform-style: preserve-3d;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Optional for smoother effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .smart-image.fade-out img {
  opacity: 0;
  transform: rotateY(90deg);
}

.smart-image.fade-in img {
  opacity: 0;
  transform: rotateY(0deg);
} */

.container-2 .smart-content {
  flex: 0 0 28%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.container-2 .smart-content-title {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
}

.container-2 .smart-search-title {
  color: white;
  transition: color 0.3s ease-in-out;
}

.container-2 .smart-search-title.active {
  color: #00f0c8;
}

.smart-search-subheading {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 1s ease;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: rgb(180, 179, 179);
}

.smart-search-subheading.open {
  max-height: 500px;
  opacity: 1;
}

.c .smart-content-description {
  cursor: pointer;
  margin: 0.5rem 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: rgb(180, 179, 179);
}

.custom-search-button {
  background: linear-gradient(to right, #1a73e8, #00bfa6);
  color: white;
  padding: 8px 24px; /* paddingX: 3 = 24px */
  border-radius: 25px;
  font-weight: 600;
  text-transform: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.custom-search-button:hover {
  background: linear-gradient(to right, #1a73e8, #00bfa6);
  opacity: 0.9;
}

.container-2 .industries-section {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 4rem 2rem 2rem;
  box-sizing: border-box;
}

.container-2 .section-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.container-2 .section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: -0.5rem;
  color: rgba(255, 255, 255, 0.3);
}

.container-2 .industries-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); */
  grid-template-columns: repeat(6, 2fr);
  gap: 2rem;
  /* max-width: 1000px; */
  margin: 3rem auto;
}

.container-2 .industry-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: white;
  font-size: 0.9rem;
}

.container-2 .industry-card img {
  width: 40px;
  height: 40px;
}

.container-2 .industry-card.highlight {
  color: #1ec7b6;
  font-weight: 600;
  font-size: 0.9rem;
}

.container-2 .industries-section .cta-box {
  margin: 3rem auto 0;
  background: linear-gradient(90deg, rgba(229, 117, 93), rgba(26, 41, 188, 1));
  border-radius: 3rem;
  padding: 1.5rem 3rem;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  position: relative;
}

.container-2 .industries-section .cta-box p {
  color: white;
  font-size: 1rem;
  margin: 0;
  flex: 1;
  max-width: 70%;
  text-align: left;
}

.container-2 .industries-section .cta-box button {
  background-color: #ff6b4a;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
  min-width: 200px;
}
.container-2 .industries-section .know-more-container {
  position: absolute;
  /* bottom: -1.5rem; */
  left: 100%;

  transform: translateX(-50%);
}

.container-2 h2 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.container-2 .carousel-section {
  /* margin-bottom: 4rem; */
  position: relative;
  min-height: 50vh;
  padding-top: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2720%27%20height%3D%274%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Ccircle%20cx%3D%272%27%20cy%3D%272%27%20r%3D%272%27%20fill%3D%27white%27%20/%3E%3C/svg%3E");
  background: linear-gradient(to bottom, rgb(22, 64, 164), #00a8e8);
}
.container-2 .carousel-section h2 {
  /* margin-bottom: 4rem; */
  text-align: center;
}

.container-2 .carousel-wrapper,
.container-2 .academia-wrapper {
  position: relative;
  overflow: hidden;
  /* max-width: 1000px; */
  margin: 1.5rem auto;
}

.container-2 .carousel-track {
  display: flex;
  gap: 7rem;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2720%27%20height%3D%274%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Ccircle%20cx%3D%272%27%20cy%3D%272%27%20r%3D%272%27%20fill%3D%27white%27%20/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: center center;
  background-size: 14px 4px; /* spacing between dots and dot height */
  height: 160px;
}
.container-2 .academia-track {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  /* margin-top: 10px; */
}

.container-2 .carousel-track img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  object-fit: contain;
  padding: 1rem;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 6px #00a8e8;
}
.container-2 .academia-track-image {
  width: 200px;
  height: 150px;
  object-fit: contain;
  background: white;
  padding: 1rem;
}

.container-2 .carousel-controls {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container-2 .carousel-controls .arrow {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  padding: 0.5rem 0.9rem;
  transition: background 0.3s;
}

.container-2 .carousel-controls .arrow:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.container-2 .academia-section {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10rem;
  max-width: 1000px;
  margin: 0 auto;
}
.container-2 .academia-section-container {
  background: linear-gradient(to bottom, #00a8e8, rgb(78, 173, 198));
  padding: 20px;
  min-height: 36vh;
}

.container-2 .academia-section h2 {
  color: black;
  margin-bottom: 0;
  text-align: center;
}

.container-2 .logo {
  font-size: 2rem;
  margin: 0;
}

.container-2 .contact h4 {
  color: #00b3b3;
  margin-bottom: 0.5rem;
}

.container-2 .social-icons i:hover {
  color: #00b3b3;
}

.container-2 .working-with-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to bottom, rgb(0, 17, 95), rgb(22, 64, 164));
}

.container-2 .working-with-us .aligned-image-wrapper {
  position: relative;
  width: fit-content;
  background-image: url("../../assets/orange half circle.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-2 .working-with-us {
  padding: 0 2rem 0 2rem;
}

.container-2 .working-with-us .aligned-image-wrapper img {
  width: 60%;
  padding: 2rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container-2 .the-ultimate-hiring {
    flex-direction: column;
    padding: 20px;
    height: auto;
    width: auto;
  }

  .container-2 .the-ultimate-hiring .left {
    align-self: start;
    /* margin-top: 50%; */
    padding-left: 0;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }

  .container-2 .the-ultimate-hiring .dots {
    justify-content: right;
  }

  .container-2 .the-ultimate-hiring .left h1 {
    font-size: 32px;
  }

  .container-2 .the-ultimate-hiring .left .highlight {
    font-size: 2.5rem;
  }

  .container-2 .the-ultimate-hiring .right {
    padding: 20px;
    max-width: 100%;
    width: 100%;
  }

  .container-2 .the-ultimate-hiring .recruiter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10px; */
    max-width: 100%;
    width: 100%;
  }

  .container-2 .the-ultimate-hiring .check-out {
    align-self: right;
    min-width: 150px;
  }

  .job-list-container .joblist-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
  }

  .job-list-container .joblist-header h2 {
    font-size: 1rem;
  }

  .container-2 .hero-text {
    position: static;
    text-align: left;
  }

  .container-2 .subtext {
    font-size: 1rem;
    color: #fff;
    margin: 0 15px;
    text-align: left;
  }

  .container-2 .hero-left h1,
  .container-2 .highlight {
    font-size: 2rem;
  }

  .container-2 .hero-left {
    flex: 0;
    margin-bottom: 1rem;
    text-align: left;
  }
  .container-2 .hero-left h3 {
    font-size: 2rem;
    line-height: 1;
    text-align: left;
    margin-left: 1rem;
  }

  .container-2 .hero-left .highlight {
    color: #00f0c8;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    text-align: left;
  }

  .container-2 .hero-left .description {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 18px;
    color: #bdbdbd;
    font-family: "Montserrat", sans-serif;
    max-width: 30rem;
    text-align: left;
  }

  .container-2 .featured-jobs {
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    margin: 0;
  }

  .container-2 .featured-jobs-2 {
    /* flex-direction: column; */
    flex-direction: column-reverse;
    padding: 0 1rem 0 1rem;
    margin: 0;
  }

  .container-2 .featured-jobs-2 h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 0 20px;
  }

  .container-2 .featured-jobs h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 0 20px;
  }

  .container-2 .featured-jobs .left,
  .container-2 .featured-jobs .right,
  .container-2 .featured-jobs-2 .left,
  .container-2 .featured-jobs-2 .right {
    width: 100%;
    margin-left: 0;
  }

  .container-2 .job-cards {
    justify-content: center;
  }
  .container-2 .the-ultimate-hiring {
    background-image: none;
    flex-direction: column;
    padding: 20px;
  }

  .container-2 .hero-mobile-img {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
  .container-2 .the-ultimate-hiring .left {
    margin-top: -70%;
  }

  .custom-search-button {
    background: linear-gradient(to right, #1a73e8, #00bfa6);
    color: white;
    padding: 8px 24px; /* paddingX: 3 = 24px */
    border-radius: 25px;
    font-weight: 600;
    text-transform: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin: 0 15px;
  }

  .container-2 .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-height: 55vh;
    padding: 0 20px;
  }

  .container-2 .hero-right {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
  }
  .container-2 .smart-search {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    text-align: left;
    margin-top: 1rem;
  }

  .container-2 .smart-search::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vh;
    height: 100%;
    background-image: url("../../assets/background-rounded.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: center;
    z-index: 0;
  }

  .container-2 .smart-search > * {
    position: relative;
    z-index: 1;
  }
  .container-2 .industries-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); */
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;
    /* max-width: 1000px; */
    margin: 3rem auto;
  }
  .container-2 .industry-card img {
    width: 40px;
    height: 40px;
  }

  .container-2 .industries-section {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
  }

  .container-2 .industries-section .cta-box {
    flex-direction: column;
    background: none;
    align-items: flex-start; /* align content to start in column */
    gap: 1.5rem;
    max-width: 100%; /* full width on smaller screens */
    padding: 0 2rem 1rem 2rem; /* optional, a bit more padding for smaller */
    margin: 0;
  }

  .container-2 .industries-section .cta-box p {
    max-width: 100%; /* take full width */
    background: linear-gradient(
      90deg,
      rgba(229, 117, 93),
      rgba(26, 41, 188, 1)
    );
    border-radius: 4rem;
    padding: 1rem 3rem;
    flex: none; /* reset flex */
    text-align: left;
  }

  .container-2 .industries-section .know-more-container {
    position: static; /* remove absolute */
    transform: none;
    width: 100%; /* full width for button container */
    display: flex;
    justify-content: center;
  }

  .container-2 .industries-section .know-more-container button {
    width: 100%; /* make button full width */
    max-width: 100px;
  }
  .container-2 .working-with-us .aligned-image-wrapper {
    padding: 2rem;
  }

  .container-2 .working-with-us .aligned-image-wrapper img {
    width: 100%;
    padding: 0 2rem 0 2rem;
  }

  .container-2 .academia-section-container {
    background: linear-gradient(to bottom, #00a8e8, rgb(78, 173, 198));
    min-height: 40vh;
  }

  .container-2 .academia-section {
    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 0rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .container-2 .academia-section h2 {
    color: black;
    margin-bottom: 0;
    text-align: center;
  }

  .container-2 .carousel-section {
    /* margin-bottom: 4rem; */
    /* position: relative; */
    min-height: 35vh;
    /* padding-top: 1rem; */
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2720%27%20height%3D%274%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Ccircle%20cx%3D%272%27%20cy%3D%272%27%20r%3D%272%27%20fill%3D%27white%27%20/%3E%3C/svg%3E");
    background: linear-gradient(to bottom, rgb(22, 64, 164), #00a8e8);
  }
  .container-2 .carousel-section h2 {
    /* margin-bottom: 4rem; */
    text-align: center;
  }

  .container-2 .carousel-controls {
    display: none;
  }
}
/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container-2 .the-ultimate-hiring .right {
    padding: 20px;
    width: 100%;
  }

  .container-2 .right-container {
    width: 100%;
  }

  .container-2 .the-ultimate-hiring .recruiter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20rem;
    align-items: center;
    padding: 0 10px;
    max-width: 100%;
    width: 100%;
  }

  .container-2 .smart-search {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
    text-align: left;
    margin-top: 1rem;
  }

  .container-2 .industries-section .cta-box {
    flex-direction: column;
    background: none;
    align-items: flex-start; /* align content to start in column */
    gap: 1.5rem;
    max-width: 100%; /* full width on smaller screens */
    padding: 2rem; /* optional, a bit more padding for smaller */
  }

  .container-2 .industries-section .cta-box p {
    max-width: 100%; /* take full width */
    background: linear-gradient(
      90deg,
      rgba(229, 117, 93),
      rgba(26, 41, 188, 1)
    );
    border-radius: 4rem;
    padding: 1rem 3rem;
    flex: none; /* reset flex */
    text-align: left;
  }

  .container-2 .industries-section .know-more-container {
    position: static; /* remove absolute */
    transform: none;
    width: 100%; /* full width for button container */
    display: flex;
    justify-content: center;
  }

  .container-2 .industries-section .know-more-container button {
    width: 100%; /* make button full width */
    max-width: 100px;
  }

  .container-2 .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 70vh;
    padding: 0 4rem;
  }
  .container-2 .hero-text {
    position: absolute;
    right: 160px;
    margin-top: -200px;
    text-align: left;
  }

  .container-2 .hero-left {
    flex: 1;
  }

  .container-2-recruiter .academia-section-container {
    background: linear-gradient(to bottom, #002c90, #00a8e8);
    padding: 0;
    min-height: 36vh;
  }
}
