.footer {
    /* max-width: 1200px; */
    padding: 2rem 3rem;
    margin: 0 auto;
  }
  
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
    text-align: left;
  }

.footer-section {
    flex: 1 1 150px;
  }
  
.footer-section h4 {
    color: #00b3b3;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.footer-section li {
    margin-bottom: 0.6rem;
    font-size: 0.95rem;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.footer-section li:hover {
    color: #00b3b3;
  }
  
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1rem;
  }
  
.footer-bottom p {
    font-size: 0.9rem;
    color: #ccc;
    margin: 0;
  }
  .footer .whatsapp-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .footer .social-icons {
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 1.2rem;
  }

  .footer .social-icons i {
    color: white;
    transition: color 0.3s;
    cursor: pointer;
  }

  .footer .footer .logo-light {
    font-weight: 300;
    color: #ffffff;
  }

  .footer .tagline {
    color: #ffffff;
    font-size: 0.95rem;
    margin: 0.5rem 0 1rem;
  }

  .footer .contact{
    color: #ffffff;
    font-size: 0.95rem;
    margin: 0.5rem 0 1rem;
  }

  .footer .logo-bold {
    font-weight: 700;
    color: #00b3b3;
  }

  .footer .logo {
    font-size: 2rem;
    margin: 0;
  }

  .footer-logo-section {
    flex: 1 1 250px;
  }

  .footer .contact h4 {
    color: #00b3b3;
    margin-bottom: 0.5rem;
  }

  .footer h2 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .footer .footer-link {
    color: inherit;
    text-decoration: none;
  }

  .footer .rights-text{
    color:#ccc;
    font-size: 10px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }

  .footer .connected-text{
    color:#ccc;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
  }