@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.container-2-recruiter * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-2-recruiter {
  font-family: "Segoe UI", sans-serif;
  color: white;
}
.container-2-recruiter .the-ultimate-hiring-recruiter {
  font-family: "Segoe UI", sans-serif;
  /* REMOVE the line below */
  /* background-image: url("../../assets/hero-image-desktop.jpg"); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  color: white;
  /* max-height: 100vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: relative;
  overflow: hidden; /* <--- Important to contain absolute children */
}
.container-2-recruiter .the-ultimate-hiring-recruiter .ai-background {
  left: 10%; /* ⬅️ Shift the canvas circle slightly to the right */
}
.container-2-recruiter .particle-wrapper {
  margin-left: 5%;
}

.the-ultimate-hiring-recruiter .ai-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.the-ultimate-hiring-recruiter {
  position: relative; /* <-- this is critical */
  overflow: hidden; /* contain canvas & effects */
}
.the-ultimate-hiring-recruiter .left,
.the-ultimate-hiring-recruiter .right-container {
  position: relative;
  z-index: 1;
}

.container-2-recruiter .hero-image-top-filled {
  background-color: #00115f;
  /* height: 2rem; */
}

.container-2-recruiter .hero-mobile-img {
  display: none;
}
/* Left Section */
.container-2-recruiter .the-ultimate-hiring-recruiter .left {
  flex: 0.1;
  padding-left: 10px;
  text-align: left;
}
.container-2-recruiter .the-ultimate-hiring-recruiter .left h1 {
  font-size: 48px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .left .highlight {
  color: #ff7059;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .dots {
  display: flex;
  gap: 8px;
  margin: 10px 0 20px;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .dots span {
  width: 10px;
  height: 10px;
  background-color: #ff7059;
  border-radius: 50%;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .dots span:nth-child(2) {
  background-color: #ccc;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .dots span:nth-child(3) {
  background-color: #ccc;
}

/* .container-2 .hero .halfcircle-image {
  font-size: 200px;
  font-weight: 900;
  background: radial-gradient(circle, #ff7059 0%, #ff7059 70%);
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
} */

/* Right Section */
/* Target only recruiter section */

.container-2-recruiter .the-ultimate-hiring-recruiter .right {
  flex: 1;
  padding: 40px 40px 0px 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
  max-width: 420px;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .right h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container-2-recruiter .divider-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-2-recruiter
  .the-ultimate-hiring-recruiter
  .right
  input[type="text"] {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .search-type1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
}
.container-2-recruiter
  .the-ultimate-hiring-recruiter
  .search-type
  input[type="radio"] {
  margin-right: 8px;
}

.search[type="radio"] {
  accent-color: #ff7059;
}

.container-2-recruiter
  .the-ultimate-hiring-recruiter
  .search-type1
  .search[type="radio"] {
  margin-right: 8px;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  margin-bottom: 20px;
  font-size: 10px;
  /* color: #00ffb3; */
  color: #fff;
  text-align: left;
  /* padding: 0 3rem; */
}
.container-2-recruiter .the-ultimate-hiring-recruiter .options span::before {
  content: "✔"; /* Use basic Unicode character instead of emoji */
  color: #ff7059;
  margin-right: 8px;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .search-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2-recruiter .the-ultimate-hiring-recruiter .search-btn {
  width: 150px;
  background: linear-gradient(90deg, #ff7059);
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* adds spacing between text and image */
}
.container-2-recruiter .the-ultimate-hiring-recruiter .search-btn img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .search-btn:hover {
  opacity: 0.9;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .recruiter {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  text-align: center;
  color: #ccc;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .check-out {
  display: inline-block;

  margin-top: 8px;
  background: linear-gradient(to right, #3700ff, #00f0c8);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
  min-width: 150px;
}

.container-2-recruiter .the-ultimate-hiring-recruiter .check-out:hover {
  background: linear-gradient(to right, #3700ff, #00f0c8);
}

/* Hero Section */
.container-2-recruiter .hero {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  /* gap: 4rem; */
  /* min-height: 70vh; */
  padding: 4rem;
}
.container-2-recruiter .hero-text {
  right: 120px;
  text-align: left;
}

.container-2-recruiter .hero-left {
  flex: 1;
  align-items: center;
  text-align: right;
  padding-left: 3rem;
  width: 80%;
}

.container-2-recruiter .hero-left-image {
  display: flex;
  width: 100%;
  /* height: 35rem; */
}

.container-2-recruiter .subtext {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: left;
}

.container-2-recruiter .hero-right h3 {
  font-size: 2rem;
  line-height: 1;
}

.container-2-recruiter .highlight {
  color: #ff7059;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

.container-2-recruiter .description {
  margin-top: 1rem;
  font-size: 18px;
  color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
  max-width: 30rem;
}

.container-2-recruiter .hero-right {
  flex: 2;
  display: flex;
  /* width:40%; */
  justify-content: center;
}

/* Featured Jobs Section */
.container-2-recruiter .featured-jobs-recruiter {
  /* margin-top: 4rem; */
  text-align: left;
  display: flex;
  gap: 1rem;
  /* margin-top: 4rem; */
  padding: 0 4rem;
}

.container-2-recruiter .featured-jobs-recruiter .left-recruiter {
  width: 20%;
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.container-2-recruiter .featured-jobs-recruiter .right {
  /* width: 50%; */
  /* border-radius: 10px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-left: 40px; */
  width: 80%;
  border-radius: 10px;
}

.container-2-recruiter .featured-jobs-recruiter h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}

.container-2-recruiter .faded {
  color: rgb(63, 67, 123);
  font-size: 3rem;
}

.container-2-recruiter .job-cards-recruiter {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-2-recruiter .job-card-recruiter {
  background-color: rgba(37, 46, 102, 0.9);
  border-radius: 30px;
  border: 2px solid rgba(37, 46, 102, 0.9);
  padding: 1rem;
  width: 15rem;
  height: 20rem;
}

.container-2-recruiter .job-card-recruiter:hover {
  cursor: pointer;
  border: 2px solid #ff7059;
}

.container-2-recruiter .job-header {
  display: flex;
  justify-content: flex-start; /* ensures content aligns to the left */
  align-items: center; /* vertically center the image */
  gap: 0.5rem;
  text-align: left;
}

.container-2-recruiter .company-name {
  font-size: 1rem;
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.container-2-recruiter .designation {
  font-size: 1rem;
  color: #cfcfcf;
  text-align: left;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Montserrat", sans-serif;
}

/* .container-2 .job-title {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: left;
} */

.container-2-recruiter .experience {
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #bdbdbd;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.container-2-recruiter .skills {
  font-size: 0.9rem;
  /* margin-top: 0.3rem; */
  color: #bdbdbd;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.container-2-recruiter .view-btn:hover {
  background-color: #00d0b0;
}

.container-2-recruiter .smart-search {
  background-image: url("../../assets/background-rounded.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin-top: 5rem;
}
.container-2-recruiter .smart-image {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: opacity 0.5s ease-out; */
  perspective: 1000px;
}

.container-2-recruiter .smart-image img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  opacity: 0; /* Start hidden */
  animation: fadeIn 0.6s ease-out forwards;
  transform-style: preserve-3d;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Optional for smoother effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-2-recruiter .smart-content {
  flex: 0 0 28%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.container-2-recruiter .smart-content-title {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
}

.container-2-recruiter .smart-search-title {
  color: white;
  transition: color 0.3s ease-in-out;
}

.container-2-recruiter .smart-search-title.active {
  color: #ff7059;
}

.container-2-recruiter .smart-search-subheading {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: rgb(180, 179, 179);
}

.container-2-recruiter .smart-search-subheading.open {
  max-height: 500px;
  opacity: 1;
}

.container-2-recruiter .smart-content-description {
  cursor: pointer;
  opacity: 1;
}

.custom-search-button-recruiter {
  background: #ff7059;
  color: white;
  padding: 15px 20px;
  width: 200px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.custom-search-button-recruiter:hover {
  opacity: 0.9;
}

.container-2-recruiter .industries-section {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 4rem 2rem 0rem 2rem;
  box-sizing: border-box;
}

.container-2-recruiter .section-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.container-2-recruiter .section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: -0.5rem;
  color: rgba(255, 255, 255, 0.3);
}

.container-2-recruiter .industries-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); */
  grid-template-columns: repeat(6, 2fr);
  gap: 2rem;
  /* max-width: 1000px; */
  margin: 3rem auto;
}

.container-2-recruiter .industry-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: white;
  font-size: 0.9rem;
}

.container-2-recruiter .industry-card img {
  width: 40px;
  height: 40px;
}

.container-2-recruiter .industry-card.highlight {
  color: #ff7059;
  font-weight: 600;
  font-size: 0.9rem;
}

.container-2-recruiter .cta-box {
  margin: 3rem auto 0;
  background: linear-gradient(90deg, #00f0c8, rgba(26, 41, 188, 1));
  border-radius: 3rem;
  padding: 1.5rem 3rem;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  position: relative;
}

.container-2-recruiter .cta-box p {
  color: white;
  font-size: 20px;
  margin: 0;
  flex: 1;
  max-width: 70%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.container-2-recruiter .cta-box button {
  background: linear-gradient(90deg, #00f0c8, rgba(26, 41, 188, 1));
  color: white;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: 400;
  cursor: pointer;
  min-width: 200px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.container-2-recruiter .know-more-container {
  position: absolute;
  /* bottom: -1.5rem; */
  left: 100%;
  transform: translateX(-50%);
}

.container-2-recruiter h2 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.container-2-recruiter .academia-wrapper {
  position: relative;
  overflow: hidden;
  margin: 1.5rem auto;
}

.container-2-recruiter .academia-track {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  /* margin-top: 10px; */
}

.container-2-recruiter .carousel-track img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  padding: 1rem;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 6px #00a8e8;
}

.container-2-recruiter .academia-track-image {
  width: 200px;
  height: 150px;
  object-fit: contain;
  background: white;
  padding: 1rem;
}

.container-2-recruiter .carousel-controls {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container-2-recruiter .carousel-controls .arrow {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  padding: 0.5rem 0.9rem;
  transition: background 0.3s;
}

.container-2-recruiter .carousel-controls .arrow:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.container-2-recruiter .academia-section {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10rem;
  max-width: 1000px;
  margin: 0 auto;
}
.container-2-recruiter .academia-section-container {
  background: linear-gradient(to bottom, #002c90, #00a8e8);
  padding: 20px;
  /* min-height: 36vh; */
}

.container-2-recruiter .academia-section h2 {
  color: black;
  margin-bottom: 0;
  text-align: center;
}

/* .container-2-recruiter .academia-track img {
  width: 160px;
  height: auto;
  background: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
} */

.container-2-recruiter .logo {
  font-size: 2rem;
  margin: 0;
}

.container-2-recruiter .contact h4 {
  color: #00b3b3;
  margin-bottom: 0.5rem;
}

.container-2-recruiter .social-icons i:hover {
  color: #00b3b3;
}

.container-2-recruiter .working-with-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: linear-gradient(to bottom, rgb(5, 21, 89), #002c90);
}

.container-2-recruiter .working-with-us .aligned-image-wrapper {
  position: relative;
  width: 70rem;
  background-image: url("../../assets/green half circle@2x.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2-recruiter .working-with-us .aligned-image-wrapper img {
  width: 35%;
  padding: 2rem;
}

.container-2-recruiter .footer-recruiter {
  padding: 1rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container-2-recruiter .the-ultimate-hiring-recruiter {
    flex-direction: column;
    padding: 20px;
    height: auto;
    width: auto;
  }

  .container-2-recruiter .the-ultimate-hiring-recruiter .left {
    align-self: start;
    /* margin-top: 50%; */
    padding-left: 0;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }

  .container-2-recruiter .the-ultimate-hiring-recruiter .recruiter {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    text-align: center;
    color: #ccc;
  }

  .container-2-recruiter .hero-left {
    flex: 1;
    align-items: center;
    text-align: right;
    padding-left: 0;
  }

  .container-2-recruiter .hero-left-image {
    display: flex;
    width: 15rem;
    margin-left: 0 !important;
    /* margin-right: 40px; */
    /* height: 35rem; */
  }

  .container-2-recruiter .the-ultimate-hiring-recruiter .dots {
    justify-content: right;
  }

  .container-2 .the-ultimate-hiring-recruiter .left h1 {
    font-size: 32px;
  }

  .container-2 .the-ultimate-hiring-recruiter .left .highlight {
    font-size: 2.5rem;
  }

  .container-2 .the-ultimate-hiring-recruiter .right {
    padding: 20px;
    max-width: 100%;
    width: 100%;
  }

  .container-2 .the-ultimate-hiring-recruiter .recruiter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .container-2 .the-ultimate-hiring .check-out {
    align-self: right;
    min-width: 150px;
  }

  .container-2-recruiter .hero {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .container-2-recruiter .hero-text {
    position: static;
    text-align: left;
  }

  .container-2-recruiter .hero-left h1,
  .container-2-recruiter .highlight {
    font-size: 2rem;
  }

  .container-2-recruiter .featured-jobs-recruiter {
    flex-direction: column;
    padding: 1rem;
    margin-top: 0rem;
  }

  .container-2-recruiter .featured-jobs-recruiter .left-recruiter {
    padding: 20px 100px 20px 100px;
    /* padding-bottom: 20px; */
  }

  .container-2-recruiter .featured-jobs-recruiter .left,
  .container-2-recruiter .featured-jobs-recruiter .right,
  .container-2-recruiter .featured-jobs-2 .left,
  .container-2-recruiter .featured-jobs-2 .right {
    width: 100%;
    margin-left: 0;
  }

  .container-2 .job-cards {
    justify-content: center;
  }
  .container-2-recruiter .the-ultimate-hiring {
    background-image: none;
    flex-direction: column;
    padding: 20px;
  }

  .container-2-recruiter .hero-mobile-img {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
  .container-2-recruiter .the-ultimate-hiring-recruiter .left {
    margin-top: -70%;
  }
  .container-2-recruiter .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    /* min-height: 70vh; */
    padding: 0 2rem;
  }
  .container-2-recruiter .hero-right {
    flex-direction: column-reverse;
    align-items: center;
  }
  .container-2-recruiter .smart-search {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    text-align: left;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
  }

  .container-2-recruiter .smart-search::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vh;
    height: 100%;
    background-image: url("../../assets/background-rounded.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: center;
    z-index: 0;
  }

  .container-2-recruiter .smart-search > * {
    position: relative;
    z-index: 1;
  }
  .container-2-recruiter .industries-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); */
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;
    /* max-width: 1000px; */
    margin: 3rem auto;
  }
  .container-2-recruiter .industry-card img {
    width: 40px;
    height: 40px;
  }

  .container-2-recruiter .industries-section {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 0rem 2rem 0rem 2rem;
    box-sizing: border-box;
  }

  .container-2-recruiter .industries-section .cta-box {
    /* margin: */
    margin: 1rem auto 0;
    flex-direction: column;
    background: none;
    align-items: flex-start; /* align content to start in column */
    gap: 1.5rem;
    max-width: 100%; /* full width on smaller screens */
    padding: 0rem;
  }

  .container-2-recruiter .industries-section .cta-box p {
    max-width: 100%; /* take full width */
    background: linear-gradient(90deg, #00f0c8, rgba(26, 41, 188, 1));
    border-radius: 4rem;
    padding: 1rem 3rem;
    flex: none; /* reset flex */
    text-align: left;
  }

  .container-2-recruiter .industries-section .know-more-container {
    position: static; /* remove absolute */
    transform: none;
    width: 100%; /* full width for button container */
    display: flex;
    justify-content: center;
  }

  .container-2-recruiter .industries-section .know-more-container button {
    width: 100%; /* make button full width */
    max-width: 100px;
  }
  .container-2-recruiter .working-with-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: linear-gradient(to bottom, rgb(5, 21, 89), #002c90);
  }
  .container-2-recruiter .working-with-us .aligned-image-wrapper {
    padding: 1rem 2rem;
  }
  .container-2-recruiter .working-with-us .aligned-image-wrapper img {
    width: 60%;
  }
  .container-2-recruiter .academia-section {
    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 0rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .container-2-recruiter .academia-section h2 {
    color: black;
    margin-bottom: 0;
    text-align: center;
  }

  .container-2-recruiter .academia-section-container {
    background: linear-gradient(to bottom, #002c90, #00a8e8);
    padding: 0;
    /* min-height: 36vh; */
  }

  .container-2-recruiter .carousel-controls {
    display: none;
  }
}

/* iPad Portrait */
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  .container-2-recruiter .industries-section .cta-box {
    flex-direction: column;

    background: none;
    align-items: flex-start; /* align content to start in column */
    gap: 1.5rem;
    max-width: 100%; /* full width on smaller screens */
    padding: 2rem; /* optional, a bit more padding for smaller */
  }

  .container-2-recruiter .the-ultimate-hiring-recruiter {
    background-image: none;
    flex-direction: column;
    padding: 20px;
  }

  .container-2-recruiter .the-ultimate-hiring-recruiter .right {
    padding: 20px;
    max-width: 100%;
  }
  .container-2-recruiter .right-container {
    width: 100%;
  }

  .container-2-recruiter .hero-right {
    flex: 2 1;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  .container-2-recruiter .description {
    max-width: 100%;
  }
  .container-2-recruiter .industries-section .cta-box p {
    max-width: 100%; /* take full width */
    background: linear-gradient(90deg, #00f0c8, rgba(26, 41, 188, 1));
    border-radius: 4rem;
    padding: 1rem 3rem;
    flex: none; /* reset flex */
    text-align: left;
  }

  .container-2-recruiter .industries-section .know-more-container {
    position: static; /* remove absolute */
    transform: none;
    width: 100%; /* full width for button container */
    display: flex;
    justify-content: center;
  }

  .container-2-recruiter .industries-section .know-more-container button {
    width: 100%; /* make button full width */
    max-width: 100px;
  }

  .container-2-recruiter .hero-left {
    flex: 1 1;
    padding-left: 0;
    width: 70%;
  }

  .container-2-recruiter .hero-left-image {
    display: flex;
    width: 100%;
    /* margin-right: 40px; */
    /* height: 35rem; */
  }
  .container-2-recruiter .smart-search {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
    text-align: left;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
  }
  .container-2-recruiter .featured-jobs-recruiter {
    flex-direction: column;
    padding: 1rem 2rem;
    margin-top: 0rem;
  }
  .container-2-recruiter .academia-section-container {
    background: linear-gradient(to bottom, #002c90, #00a8e8);
    padding: 0;
    /* min-height: 36vh; */
  }
}
